* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    color: #f1f1e6;
    font-size: 40px;
    align-items: center;
    justify-content: center;
}

h1 {
    font-weight: lighter;
    font-family: Courier New, monospace;
}

body {
    min-height: 100vh;
    background-color: #4d8b7b;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.menu {
    width: 100%;
    background-color: #333;
}

.menu nav {
    width: 100%;
}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;


    flex-wrap: wrap;
}

.menu ul li {
    position: relative;
    transition: background-color 0.3s;
    height: 100%;

}

.menu ul li a {
    color: #f1f1e6;
    text-decoration: none;
    padding: 20px 40px;
    display: block;
    transition: all 0.3s;
    border-radius: 5px;
}


.menu ul li:hover a {
    background-color: #f1f1e6;
    color: #4d8b7b;
}


.menuoculto .drop {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f1f1e6;
    border-radius: 5px;
    padding: 10px 0;
    min-width: 180px;
    z-index: 1000;
}

.menuoculto:hover .drop {
    display: block;
}

.menuoculto .drop a {
    color: #f1f1e6;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
}

.menuoculto .drop a:hover {
    background-color: #f1f1e6;
    color: #4d8b7b;
}


.rodape {
    background-color: #333;
    color: #f1f1e6;
    padding: 15px;
    text-align: center;
    width: 100%;


}

main {
    background-color: #f1f1e6;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin: 10px;

    border-radius: 16px;


}

section {
    width: 100%;
    height: auto;
    padding: 2%;
}

section h2 {
    text-align: center;
}

section p {
    text-indent: 20px;
}

li {
    list-style-type: none;
}
.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}
#btnEnviar {
    width: 8em;
    padding: 0.5em;
    font-size: 1em;
    cursor: pointer;
    border: none;
    background-color: #333;
    color: #f1f1e6;
    border-radius: 8px;
}
#quizodonto{ 
    margin-top: 3%;
    margin-bottom:3%;
}


@media (max-width: 768px) {

    header {

        font-size: 20px;
    }



.menu ul {
    flex-direction: column;
    align-items: flex-start;
}

.menu ul li {
    width: 100%;
}

.menu ul li a {
    width: 100%;
}

.menuoculto .drop {
    position: static;
    width: 100%;
}
section{
    font-size: large;
}
}